<ion-header>
  <ion-toolbar>
    <ion-title>People</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="createPerson()">
        <ion-icon slot="icon-only" name="add" lazy="false"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list slot>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
      </ion-avatar>
      
      <ion-label>
        
        <h2>
          Item 1
        </h2>
              
        <p slot>
          Job title
        </p>
      </ion-label>
          
    </ion-item>
    
    
  </ion-list>
</ion-content>
